.App {
  margin: auto;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.text-center {
  text-align: center;
}

.flex {
  display:flex;
  padding: 0 1em;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
  margin-top: 0;
}

.all-posts {
  background-color: darkseagreen;
  padding: 0 0.5em
}

.post {
  margin-bottom: 1rem;
}
.user {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.user img {
  border-radius: 5rem;
}

.post-text p {
  text-transform: capitalize;
}